<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAzHVOeV8yCUOLrGHud08emwAAAAACAAAAAAAQZgAAAAEAACAAAAAOWUJ2o65Z2zRgqSkUQEt92fBqVzX/kNr13yk9wD+S/gAAAAAOgAAAAAIAACAAAAAYLXRuo7kOE8r4CF4jLJ/BXVy7ea4BVWXH5sByR4MF+xAAAADrepR4sBUlC0gualZFWh8KQAAAAEXWVUxJfXNdIrDLfIZDj9f0Pi/RAi6YccpILn/wWakosOWbaaJk9KZSzy2WNHp5ndOz9aq6Zo3D+oKI4KdgJQg=" />
  </appSettings>
</configuration>